* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --orange-rgb: 243,128,32;
    --light-blue-rgb: 79,140,200;
    --blue-rgb: 0,81,127;
    --purple-rgb: 65,54,128;
    --dark-purple-rgb: 34,30,104;
    --black-purple-rgb: 15,13,55;
    --text-title: #221e68;
}

body{
    overflow-x: hidden; 
}

.logo{
    width: 90px;
}

.hereSection .ip span{
    font-size: 6rem;
    font-weight: 900;
}

.info h1{
    max-width: 450px;
    font-size: 2.5em;
    margin: auto;
    padding: .5em;
    font-weight: 900;
    color: var(--text-title);
}
.info span{
    max-width: 450px;
    font-size: 1.5em;
    margin: auto;
    padding: .5em;
    font-weight: 900;
    color: var(--text-title);
}
.platformBtns {
    max-width: 750px;
    margin: 0 auto;
} 
.platformBtns button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.platformBtns button i{
    font-size: 1.7em;
}
.platformBtns button{
    font-size: 1.5em;
    font-weight: 400;
    background: var(--text-title) !important;
    border-radius: 7px;
}

.appOverviewSection {
    padding: 7rem 0 !important;
    position: relative;
}
.privacySection {
    /* padding: 7rem 0 !important; */
}
.performenceSection {
    padding: 6rem 0 !important;
}
.privacySection {
    padding: 7rem 0 !important;
}

.platformBtnGroup {
    max-width: 450px;
}
.footerSection {
    padding: 7rem 0 !important;
    max-height: 2000px;
    overflow: hidden;

}
.footerSection p {
    max-width: 450px;
}
.platformBtnGroup button {
    font-size: 1em;
    font-weight: 400;
    background: var(--text-title) !important;
    border-radius: 7px;
    /* display: flex;
    align-items: center; */
}
.platformBtnGroup button i{
    font-size: 1.5em;
}

.footerSection img{
    border-radius: 25px;
}

.footerSection .SVG-Blob4{
    width: 100%;
    position: inherit;
    /* max-height: 1200px; */
    transform: scale(1.8);
    z-index: 1;
}
 
.eastereggSection svg{
    z-index: 2;
    width: 280px;
    position: relative;
     margin-top: -700px;
}
.blob1{
    overflow: auto;
}
.SVG-Blob1{
    width: 300px;
    position: absolute;
    right: 0;
    scale: 3;
    top: 60%;
    z-index: -1;
}

.appOverviewSection .leftCard{
    padding: 0 60px;
}
.appOverviewSection h1{
    color: var(--text-title);
    font-size: 30px;
}
.appOverviewSection p{
    color: var(--text-title);
    font-size: 20px;
    font-weight: 400;
}
.appOverviewSection a{
    color: var(--text-title);
    text-decoration: underline;
}
.appOverviewSection_img img{
    width: 380px !important;
}

/* privacySection */

.privacySection img{
    width: 380px !important;
}
.privacySection_card{
    padding: 0 60px;
} 
.privacySection_card h1{
    color: var(--text-title);
    font-size: 30px;
}
.privacySection_card p{
    color: var(--text-title);
    font-size: 20px;
    font-weight: 400;
}
.appOverviewSection a{
    color: var(--text-title);
    text-decoration: underline;
}

/* wrapSection */
.wrapSection_img img{
    width: 380px !important;
}
.wrapSection_card h1{
    color: var(--text-title);
    font-size: 30px;
}
.wrapSection_card p{
    color: var(--text-title);
    font-size: 20px;
    font-weight: 400;
}
.wrapSection_card{
    padding: 0 100px;
} 

/* performenceSection */

.performenceSection_card h2{
    color: var(--text-title);
    font-size: 35px;
    margin: 10px 0;
}
.performenceSection_card p{
    color: var(--text-title);
    font-size: 15px;
    font-weight: 400;
}
.pS_progressbars .progress{
    background: transparent;
    border-radius: 30px;
}
.pS_progressbars .progress-bar{
    border-radius: 30px;
    background: #d3d2e1;
}
.pS_progressbars .activeBar{
    border-radius: 30px;
    background: linear-gradient(90deg,#eeac43,#f15874);
}
.pS_progressbars h4{
    color: var(--text-title);
    font-size: 20px; 
    font-weight: 500;
    margin: 5px 0;
}
.progressDiv{
    padding: 4px 0;
}
.performenceSection_card span{
    color: var(--text-title);
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

/* privacySection */
.privacySection1{
    padding: 7rem 0 !important;
}
.privacySection_img1 img{
    width: 380px !important;
}
.privacySection_card1 h1{
    color: var(--text-title);
    font-size: 30px;
}
.privacySection_card1 p{
    color: var(--text-title);
    font-size: 20px;
    font-weight: 400;
}
.privacySection_card1 a{
    color: var(--text-title);
    text-decoration: underline;
}

.privacySection_card1{
    padding: 0 100px;
} 
/* devicesSection */
.devicesSection_img img{
    width: 380px !important;
}
.devicesSection_card h1{
    color: var(--text-title);
    font-size: 30px;
}
.devicesSection_card p{
    color: var(--text-title);
    font-size: 20px;
    font-weight: 400;
}
.devicesSection_card{
    padding: 0 100px;
}
.devicesSection_card a{
    color: var(--text-title);
    text-decoration: underline;
}

/* blobs */
.mockup_Blob1 svg{
    position: absolute;
    transform: scale(1.5);
    top: 350px;
    right: -350px;
}
.mockup_Blob2 svg{
    position: absolute;
    transform: scale(0.40);
    top: -150%;
    left: -160%;
}
.mockup_Blob3 svg{
    position: absolute;
    transform: scale(0.3);
    top: -500px;
    right: -1500px;
}

/* pageOverlay */

/* .pageOverlay{
    width: 100%;
    height: 100vh;
    background: orange;
    position: absolute;
    z-index: 8888; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.pageOverlay_element{
    width: 100%;
    height: 100vh;
    background: rgb(238, 255, 0);
    position: absolute;
    z-index: 9999; top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
} */

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
  }
  .loader__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: center right;
    background: #ffbc05;
  }
  .loader__element:first-of-type {
    background: #f89900;
  }